* {
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: #3e3e3e;
}

#info {
    margin: 0;
    padding: 20px;
    background: #ffc900;
}

#info:before {
    font-weight: bold;
    content: 'Message: ';
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#ng {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}